In [32]:
%run ../Tarea_1./Tarea1_ej1.ipynb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id_              50000 non-null  int64
 1   _id2_             50000 non-null  int64
 2   comp_mixto1       50000 non-null  float64
 3   inversion         50000 non-null  float64
 4   fecha_inicio      50000 non-null  datetime64[ns]
 5   comp_interno1     50000 non-null  float64
 6   comp_interno2     50000 non-null  object
 7   comp_interno3     50000 non-null  float64
 8   comp_interno4     50000 non-null  float64
 9   categoria1        50000 non-null  float64
 10  categoria2        50000 non-null  float64
 11  categoria3        50000 non-null  float64
 12  comp_externo1     47831 non-null  float64
 13  comp_externo2     44410 non-null  float64
 14  comp_externo3     49994 non-null  float64
 15  comp_externo4     50000 non-null  float64
 16  mes_informacion   49352 non-null  datetime64[ns]
 17  Tiempo_aparicion  49352 non-null  float64
 18  comportamiento_j  49352 non-null  float64
dtypes: datetime64[ns](2), float64(14), int64(2), object(1)
memory usage: 7.6+ MB

In [35]:
copy_final = final.copy()

In [33]:
arb = final.copy()

In [34]:
arb

,_id_,_id2_,comp_mixto1,inversion,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4,categoria1,categoria2,categoria3,comp_externo1,comp_externo2,comp_externo3,comp_externo4,mes_informacion,Tiempo_aparicion,comportamiento_j
0,78213,1798899,0.33522,0.000000,2020-03-25,0.000000,b'0',11.0,58.0,2.0,9.0,156.0,260.869565,25.854639,56.0,-230.0,2021-05-01,13.0,1.0
1,76457,1758511,0.33334,0.041039,2020-02-13,0.000000,b'1',28.0,45.0,1.0,4.0,173.0,40.579710,2.872738,62.0,-230.0,2021-05-01,15.0,1.0
2,40666,935318,0.29186,0.000000,2018-01-24,0.000000,b'1',25.0,45.0,1.0,9.0,170.0,NaN,NaN,119.0,-230.0,2019-05-01,15.0,1.0
3,8329,191567,0.29112,0.000000,2016-10-07,0.000000,b'1',14.0,59.0,3.0,3.0,159.0,349.275362,34.616490,94.0,-230.0,2021-05-01,44.0,0.0
4,68389,1572947,0.27318,77.422135,2019-07-30,2026.342452,b'1',1.0,67.0,2.0,9.0,146.0,276.811594,27.434645,125.0,-230.0,2021-05-01,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,78795,1812285,0.34318,0.000000,2020-04-27,0.000000,b'1',2.0,50.0,2.0,6.0,147.0,140.579710,13.932778,95.0,-230.0,2021-05-01,13.0,1.0
49996,9126,209898,0.38000,730.952882,2016-08-10,1215.805471,b'1',30.0,70.0,3.0,4.0,175.0,188.405797,9.652399,114.0,-230.0,2020-05-01,45.0,1.0
49997,44847,1031481,0.34000,24.763419,2018-09-17,0.000000,b'1',3.0,58.0,2.0,9.0,148.0,434.782609,33.323758,124.0,-230.0,2021-05-01,31.0,1.0
49998,87200,2005600,0.26984,0.000000,2020-10-27,0.000000,b'1',19.0,59.0,3.0,4.0,164.0,919.130435,57.454754,108.0,-230.0,2021-05-01,7.0,0.0
49999,55083,1266909,0.37000,0.000000,2019-05-06,1013.171226,b'0',3.0,55.0,1.0,9.0,148.0,217.391304,18.385521,-40.0,-230.0,2021-05-01,23.0,1.0